.content {
  margin: 0 18px;
  color: #404040;
}
.content h3 {
  font-size: 13px;
  margin: 42px 0 0 0;
}
.content .small {
  color: #a0a0a0;
  font-size: 9px;
  margin: 10px 0 30px 0;
}
.content p {
  font-size: 11px;
  line-height: 22px;
}
